@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dosis:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 23rem 1fr;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}


/* left content navBar */
.left-content{
    position: sticky;
    top: 0;
    max-height: 100svh;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 3rem;
    background: black;
    border-right: 4px solid white;
    overflow-y: auto;
    z-index: 1000;
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 600;
}

.nav-list li{
    border-left: 2px solid #01bbff;
    padding: 0 1rem;
}

.nav-list li a{
    color: white;
    text-decoration: none;
}

.nav-list li a:hover{
    border-bottom: 2px solid #d53369;
    color: #e6ff05;
}

/* --------------------------- */

/* right content main */

.right-content{
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    /* height: 100vh; */
    padding: 2rem;
}

.title{
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(213, 255, 2);
    border-bottom: 5px solid #00ffea;
}

.sub-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* ---------------------------- */

/* Todo Section */

.todo-section{
    height: 100vh;
}

.todo-container{
    background-color: aliceblue;   
    color: black;
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.stats-container{
    background-color: #ffe8e4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 1.3rem;
    border-radius: 10px;
    border: 2px solid black;
}

.detailsTodo{
    width: 60%;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: #ffcabf;
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
    width: 50%;
    height: 10px;
    background-color: #ff2a00;
    border-radius: 5px;
}

#todoNumbers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

.todo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.todo-header img{
    margin-bottom: 1.7rem;
}

.todo-row{
    display: flex;
    align-content: center;
    justify-content: center;
}

.task-input{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #ffe2d8;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.addTask{
    padding: 10px 18px;
    border: none;
    outline: none;
    background-color: #ff3700;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.addTask:hover{
    background-color: #000000;
    color: white;
}

#taskList{
    padding: 0;
    max-height: 27vh;
    overflow-y: scroll;
}

.taskItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.task{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.editDeleteBtn{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1.2rem;
}

#taskList li{
    /* margin-top: 1rem; */
    /* padding: 12px 8px 12px 40px; */
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    /* position: relative; */
    /* for space between delete icon and li */
}

/* adds a unchecked image beside the task */
#taskList .unchecked{
    /* position: absolute; */
    height: 28px;
    width: 28px;
    left: 0;
    border-radius: 50%;
    background-image: url(./Assets/todoImages/unchecked.png);
    background-size: cover;
    background-position: center;
}

.checkedTodo{
    display: none;
    background-image: url(./Assets/todoImages/checked.png);
    color: #555;
    text-decoration: line-through;
}

/* adds a checked image beside the task when you click on the task to mark it complete */
/* #taskList li.checkedTodo::before{
    display: none;
    background-image: url(./Assets/todoImages/checked.png);
} */

.deleteTask, .editTask{
    cursor: pointer;
    border: none;
    outline: none;
    color: #ff1919;
    background-color: transparent;
    font-size: 18px;
}

.editTask{
    color: greenyellow;
}

.todo-footer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top: 1px solid black;
    padding: 10px 20px 0;
    margin-top: 1rem;
    color: rgb(59, 59, 59);
}

#deleteAll{
    cursor: pointer;
}

/* ------------------------------ */

/* Calculator */

.calc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.wrapper h1{
    color: #ffffff;
}

.wrapper{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 2px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 620px;
    padding: 20px 35px;
    font-family: "Dosis", sans-serif;
}

#display{
    backdrop-filter: blur(55.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: black;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: inherit;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-btn-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-btn{
    backdrop-filter: blur(55.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    border-radius: 16px;
    flex-basis: 20%;
    font-family: "Dosis", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    height: 65px;
}

.calc-btn:last-child{
    backdrop-filter: blur(55.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    color: #fff;
    background: #d72880;
}

.calc-btn:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-btn:hover{
    background-color: inherit;
}

.calc-btn:active{
    background-color: #4ef0ff;
}

.triple{
    flex-basis: 47%;
}

/* ------------------------------ */

/* BMI Section */

.bmi-section{
    height: 70vh;
}

.bmi-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: aliceblue;   
    text-align: center;
    max-width: 350px;
    margin: 90px auto;
    padding: 30px;
    border-radius: 10px;
}

.bmi-container h1{
    margin-bottom: -5px;
}

.input,.btn{
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-calc{
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-calc:hover{
    background: linear-gradient(135deg, #043282, #24cadc);
}

#bmi-result{
    font-size: 1rem;
    font-weight: 700;
}

/* ------------------------------ */

/* Copy Clipboard Section */

.copy-section{
    height: 60vh;
}

.copy-container{
    background-color: aliceblue;   
    text-align: center;
    max-width: 500px;
    margin: 170px auto;
    padding: 30px;
    border-radius: 10px;
}

.copy-div{
    display: flex;
    gap: 1rem;
}

.copyInput{
    width: 100%;
    background-color: #d8e7e4;
    padding: 14px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-size: 1rem;
}

.copy-btn{
    background-color: #d8e7e4;
    padding: 12px;
    border: 1px solid #bababa;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.copy-btn i{
    font-size: 1.5rem;
}

.copy-btn:hover{
    background-color: black;
    color: white;
}

#copiedMsg{
    font-size: 1rem;
    font-weight: 500;
}

/* ------------------------------ */

/* Quote-Generator Section*/

.quote-section{
    /* position: relative; */
    height: 100vh;
}

.quote-container{
    position: relative;
    background-color: aliceblue;   
    max-width: 700px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
}

.quote-container h1{
    text-align: center;
}

.quote-container .quoteContent{
    margin: 35px 0;
}

.quoteContent .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i:first-child{
    margin-right: 10px;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.quote-area .quote{
    font-size: 1.5rem;
    text-align: center;
    word-break: break-all;
}

.quoteContent .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
    font-size: 18px;
}

.author span:first-child{
    margin-right: 5px;
}

.quote-container .quoteButtons{
    border-top: 1px solid #ccc;
}

.quoteButtons .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul{
    display: flex;
    gap: 1rem;
}

.features ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.features ul li:hover{
    background: #000000;
    color: rgb(255, 255, 255);
}

.features button{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.features button:hover{
    background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  box-shadow: 5px 5px 0px #000000;
}

.features button:active{
    background-color: #fcf414;
      box-shadow: none;
      transform: translateY(4px);
}

button.loading{
    opacity: 0.7;
    pointer-events: none;
}

.fa-check{
    color: rgb(0, 255, 0);
    font-size: 25px;
}

/* Like Section */
.likeDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.likeDiv button{
    background-color: transparent;
    border: none;
}

.likeDiv i{
    font-size: 1.5rem;
    cursor: pointer;
}

/* Favourite Section */
.favourite-container{
    border: 2px solid black;
    width: 44%; 
    background-color: #dbffff;
    position: absolute;
    top: 205rem;
    left: 40%;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 5px 40px 0 rgba(88, 83, 153, 0.15);
}

.favourite-container ul{
    padding: 0; /* Remove default padding */
    max-height: 23vh; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.favourite-container li{
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(177, 177, 177);
}

.active{
    color: red;
}

.favourite-container button{
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.favourite-container button:hover{
    background-color: #dbffff;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

/* ------------------------------ */


/* Password-Generator Section*/

.password-section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgb(0, 0, 0);   
    text-align: center;
    min-width: 400px;
    margin: 90px auto;
    padding: 30px;
    border-radius: 10px;
}

.pass-header h1{
    color: white;
}

.passHeader{
    width: 100%;
    background-color: #fff959;
    padding: 25px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}

.btnPass{
    background-color: #ff41ff;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

#generatePass{
    background-color: #23f3f7;
}

.btnPass i{
    padding-right: 10px;
    font-size: 1.2rem;
}

#copiedPass{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* ------------------------------ */

/* Digital-Clock Section*/

/* #clock{
    background: linear-gradient(45deg, #08001f, #30197d);
} */

.clock-container{
    position: relative;
    display: flex;
    /* justify-content: center; either use this or margin: 90px auto; */
    align-items: center;
    height: 80vh;
}

.clock{
    display: flex;
    justify-content: center;
    background: rgba(235, 0, 255, 0.11);
    min-width: 500px;
    margin: 90px auto;
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: 2;
}

.clock span{
    display: inline-block;
    font-size: 4rem;
    font-weight: 600;
    width: 90px;
    text-align: center;
    color: white;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}

.clock-container::before{
    content: '';
    width: 170px;
    height: 170px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 230px;
    top: 145px;
    z-index: 1;
}

.clock-container::after{
    content: '';
    width: 150px;
    height: 150px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    right: 230px;
    bottom: 155px;
    z-index: 1;
}

/* ------------------------------ */

/* QR-Code Section*/

.qrcode-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode-container{
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    background: rgba(255, 255, 255, 0.11);
    text-align: center;
    min-width: 400px;
    margin: 90px auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: 2;
}

#qr-input{
    width: 100%;
    background-color: #fff959;
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#qr-input::placeholder{
    font-size: 1rem;
}

#qr-input:focus{
    outline: none
}

.qrSize-options{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.qrSize-options label{
    text-align: center;
    padding: 5px;
}

#sizes{
    background-color: #ffffff20;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(7, 7, 7);
}

#sizes:focus{
    outline: none;
}

.qr-body{
    display: grid;
    place-items: center;
    padding: 20px;
}

.qr-body img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border: 0.5px solid white;
    border-radius: 10px;
}

#qrGenerateBtn, #qrdownloadBtn{
    text-decoration: none;
    color: black;
    background-color: #ff41ff;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#qrGenerateBtn:hover{
    background-color: #000000;
    color: white;
}

#qrdownloadBtn:hover{
    background-color: #000000;
    color: white;
}

#qrdownloadBtn{
    background-color: #00fcfc;
}

.qr-footer{
    padding: 20px;
}


/* ------------------------------ */

/* Drawing-App Section*/

.drawing-section{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas{
    border: 2px solid white;
}

#clearCanvas, #saveCanvas{
    text-decoration: none;
    color: black;
    background-color: #ff41ff;
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#clearCanvas:hover{
    background-color: #000000;
    color: white;
}

#saveCanvas:hover{
    background-color: #000000;
    color: white;
}

#saveCanvas{
    background-color: #00fcfc;
}

/* ------------------------------ */

/* Weather-App Section*/

.weather-section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #00feba, #5b548a);   
    text-align: center;
    min-width: 400px;
    margin: 90px auto;
    padding: 20px;
    border-radius: 20px;
}

.weather-container h1{
    color: white;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#cityInput{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    outline: 0;
    color: #3c3c3c;
}

.searchIcon{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    background-color: #ebfffc;
    padding: 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #2f2f2f;
}

.searchIcon i{
    font-size: 1.5rem;
}

.searchIcon:hover{
    background-color: black;
    color: white;
}

.weather{
    width: 100%;
    color: white;
}

.weather-icon{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    color: #f2ff00;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
}

.col img{
    width: 40px;
}

/* ------------------------------ */

/* Recipe-Finder Section */

#recipe{
    margin-bottom: 323px;
}

.recipe-section{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.recipe-container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);   
    text-align: center;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.recipe-container h1{
    color: #00bbff;
    margin-bottom: -1px;
}

.recipe-container label{
    display: block;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}

#searchRecipe{
    height: 50px;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: .3rem;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    outline: 0;
    color: #3c3c3c;
}

.recipeBtn{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    background-color: #ebfffc;
    padding: 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #2f2f2f;
}

.recipeBtn i{
    font-size: 1.4rem;
}

.recipeBtn:hover{
    background-color: black;
    color: white;
}

#meal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meal{
    margin: 40px 20px;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.352);
}

.meal img{
    width: 100%;
    border-radius: 8px;
}

.meal h3{
    color: rgb(208, 255, 0);
    margin-bottom: 10px;
}

.instructions{
    color: white;
    margin-top: 10px;
    overflow: hidden;
    max-height: 90px;
}

.read-more{
    border: 2px solid white;
    outline: 0;
    background-color: #ff4ff0;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.read-more:hover{
    background-color: black;
    color: white;
}
.expanded{
    max-height: 100%;
}
/* ------------------------------ */